header{
    background-color: #4aaaa5;
    padding: 20px;
    width: 100px;
    color: #ffffff;
    margin-right: auto;
}
    
.aboutb{
    float: right;
    background-color: #ffffff;
}
.portfoliob{
    float: right;
    background-color: #ffffff;
}
.contactb{
    float: right;
    background-color: #ffffff;
}
section{
    width: 960px;
    background-color: #ffffff;
}
h2{
    color:#4aaaa5;
}